.gitignore
.env
.htaccess
vendor/*
writable/*
tests/* 
system/* 
assets/images/produk/*
assets/images/profile/*
assets/images/payment/*
assets/images/delivery/*
assets/images/project/*
deploy.php
composer.lock