  /*  */
  body{
    --bs-bg-opacity: 0.7 !important;
    color: #305176;
}
.btn-group-sm .btn-fab {
    position: fixed !important;
    right: 20px;

}

.btn-group .btn-fab {
    position: fixed !important;
    right: 20px;
    z-index: 9999999999;
}

#main {
    bottom: 20px;
    z-index: 9999999999;
}

.table td img.image-produk , .jsgrid .jsgrid-table td img.image-produk {
    width: 100px;
    height: 100px;
    border-radius: 0;
    object-fit: cover;
} 
.table td img.image-project , .jsgrid .jsgrid-table td img.image-project {
    width: 50px;
    height: 50px;
    border-radius: 0;
    object-fit: cover;
}     

/* border untuk table utama */
.table-hover-custom tbody tr td{
    padding: 1rem;
}
.table-hover-custom tbody tr.dt-hasChild td, .table-hover-custom tbody tr.dt-hasChild th {
    background-color: transparent; 
    border:1px solid #d9dadb; 
} 
/* border untuk table utama */
.table-hover-custom tbody tr.dt-hasChild td:not(:first-child):not(:last-child) {
    border-left: none;
    border-right: none;
}
.table-hover-custom tbody tr.dt-hasChild td:first-child { 
    border-right: none;
}
.table-hover-custom tbody tr.dt-hasChild td:last-child { 
    border-left: none;
}
.table-hover-custom tbody tr:hover:not(.child) td, .table-hover-custom tbody tr:not(.child):hover th {
    background-color: #2483e933;   
} 
.table-hover-custom tbody tr:hover:not(.child) td:first-child, .table-hover-custom tbody tr:not(.child):hover th:first-child,
.table-hover-custom tbody tr.dt-hasChild td:first-child, .table-hover-custom tbody tr.dt-hasChild th:first-child { 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 
.table-hover-custom tbody tr:hover:not(.child) td:last-child, .table-hover-custom tbody tr:not(.child):hover th:last-child,
.table-hover-custom tbody tr.dt-hasChild td:last-child, .table-hover-custom tbody tr.dt-hasChild th:last-child {  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.table-hover-custom tbody tr.dt-hasChild:hover td:first-child, .table-hover-custom tbody tr.dt-hasChild:hover th:first-child,
.table-hover-custom tbody tr.dt-hasChild td:first-child, .table-hover-custom tbody tr.dt-hasChild th:first-child  { 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
} 

.table-hover-custom tbody tr.dt-hasChild:hover td:last-child, .table-hover-custom tbody tr.dt-hasChild:hover th:last-child,
.table-hover-custom tbody tr.dt-hasChild td:last-child, .table-hover-custom tbody tr.dt-hasChild th:last-child  { 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
}  

.project-detail {
    border: 1px solid #e7ecf3;
    margin-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    /* box-shadow: inset -5px 5px 0 9999px rgb(239 246 255); */
}
.text-head-1 {
    font-weight: bold;
    color: #305176;
    font-size: 1rem;
}
.text-head-2 {
    font-weight: bold;
    color: #305176;
    font-size: 0.8rem;
}
.no-urut{
    min-width:2rem;
}
.text-head-3 {
    font-weight: bold;
    color: #003571;
    font-size: 0.7rem;
}
.text-detail-1 { 
    color: #537cab;
    font-size: 0.75rem;
    width: auto;
    line-height: 1.5;
}
.text-detail-2 { 
    color: #537cab;
    font-size: 0.65rem;
    width: auto;
    line-height: 1.5;
}
.text-detail-3 { 
    color: #537cab;
    font-size: 0.6rem;
    width: auto; 
}
.divider {
    border: 1px solid #4292eb;
    height: 9px;
    margin-left: 2px;
    margin-right: 2px;
}
.dropdown .dropdown-toggle:after{
    content: "\f0d7";
    font-family: 'Font Awesome 6 Free';
    color: #3c5b7e;
}
.modal-header {
    padding: 0.5rem 1rem !important;
}
.badge{ 
    font-size: 0.6rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.badge-rounded{  
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
.badge-0 { 
    /* background: #bec9ffe6; */
    color: #001cace6;
    border: 1px solid #bec9ffe6;
}
.badge-1 {
    /* background: #ffc55b70; */
    color: #966400;
    border: 1px solid #ffc55b70;
}
.badge-2 { 
    /* background: #00c5697a; */
    color: #555555;
    border: 1px solid #8fb7a5;
}
.badge-3 {  
    /* background: #b6daffed; */
    color: #1c87ff;
    border: 1px solid #b6daffed;
}
.badge-4 { 
    /* background: #ffc1c1ba; */
    color: #ff0000;
    border: 1px solid #ffc1c1ba;
}
.varian-detail { 
    border-bottom-left-radius: 3rem;
    box-shadow: inset 0 0 0 9999px rgb(80 158 255 / 8%); 
    padding: 1rem; 
}
.project-menu {
    padding: 0.25rem;
    padding-right: 1rem;
}
.project-menu .menu-item {
    position: relative;
    padding: 0.25rem;
    font-weight: bold;
}
.project-menu .menu-item i {
    min-width: 2rem;
    text-align: center;
}
.project-menu .menu-item:hover {
    background: #f5f5f5;
    cursor: pointer;
}
.project-menu .menu-item.selected {
    color: #4292eb;
}
.project-detail .tab-content {
    border:none;
    padding:1rem;
}
ul.dropdown-menu.shadow.drop-status li a {
    padding: 0;
    font-size: 0.75rem;
    color:#305176;
}
ul.dropdown-menu.shadow.drop-status li a i { 
    color:#305176;
}
.project-menu.mobile {
    padding: 0;
    width: 100%;
}
.project-menu.mobile .menu-text {
    display: none;
}
.project-menu.mobile .menu-item { 
    padding: 0.25rem 0;
}
.card.mobile{
    border:1px solid #f1f1f1;
}
.menu-item {
    color: #305176;
}

.tab-content.mobile  {
    border:none !important;
    width:100% !important;
    padding: 0.25rem
}
#leads {
    bottom: 70px;
    z-index: 9999999999;
}

#group {
    bottom: 120px;
    z-index: 9999999999;
}

#adduser {
    bottom: 170px;
    z-index: 9999999999;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
--bs-gutter-x: 0;
}
a.icon-rotate-90 {
    transform: rotate(90deg);
}

/*  */

.hidden {
    display: none;
}

.nav-item.active svg path,
.nav-item.active .nav-link svg path,
.nav-item:hover svg path,
.nav-link:hover svg path {
    stroke: #ffffff;
    /* Warna putih */
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link, .sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
    background: #002247c4;
    color: #fff;
}
/* .content-wrapper {
    background: #f6f6f9; 
} */
    
#dropzone {
    min-height: 5rem;
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 10px;
}

#dropzone.dragover {
    border-color: #002247c4; 
}

.dz-message {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

#file-list {
    margin-top: 20px;
}

@media (max-width: 767px) {
    
    .content-wrapper {
        padding: 0.5rem;
    } 
    
    /* border untuk table utama */
    .table-hover-custom tbody tr td{
        padding: 0.25rem;
    }
    .action-td{
        width: 10px;
    }
    .image-logo-project{
        width:15px !important;
        height:15px !important;
    }
    .badge {
        font-size: 0.5rem; 
        border-radius: 0.25rem;
        padding: 0.1rem 0.2rem;
    }
    
    .table-hover-custom tbody tr:hover td{
        background-color:transparent !important;
    }
    .table td img.image-produk , .jsgrid .jsgrid-table td img.image-produk {
        width: 50px;
        height: 50px;
    }
}

.input-form{
    min-height: calc(1.5em + .5rem + calc(var(--bs-border-width)* 2));
    height:   1.575rem;
}
.input-form:focus{
    border: solid #00b0ff 1px;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(3 169 244 / 13%);
}

.input-form::placeholder{
    color: #d7d9db;
    opacity: 1; /* Firefox */
} 
.input-form::-ms-input-placeholder { /* Edge 12 -18 */
    color: #d7d9db;
}
.select2-container--default .select2-selection--single{
    padding: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #6C9BCF;
    color: white;
}
.btn-group>.btn-group:first-child>.btn {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    font-size: 0.75rem;
    color: white;
    background-color:  #4292eb;
    border-color: #4292eb;
}
.btn-outline-primary{
    font-size: 0.75rem;
    color: #4292eb;
    border-color: #709ac9;
}
.btn-outline-primary:hover{
    color: #4292eb;
    border-color: #709ac9;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle { 
    background-color: #6C9BCF;
    border-color: #709ac9;
}

.btn-primary{
    background-color: #002247;
    border-color: #709ac9;
}
.btn-primary:hover{
    background-color: #00326a;
    border-color: #103a68;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    color: #1c87ff;     
    border: none;
    padding-left: 0.5rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n),
.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+1),
.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+2),
.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+3),
.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(5n+4)
{
    background: #b6daffed;
    color: #1c87ff; 
    border: none;
    font-weight: 500;
}  
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    line-height: 2;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #8ca8d17a 1px;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(3 169 244 / 13%);
}

.border-header{
    border: 1px solid #d7d7d7;
    height: 20px;
    width: 1px;
}
div.dt-processing>div:last-child{
    display:none;
}
.image-default-obi,.image-default-obi.border{ 
    transition: all 0.3s ease-in-out;
    border: 2px dashed #dedede;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image-default-obi span {
    font-size: 0.75rem;
    color: gray;
}
.image-default-obi i {
    font-size: 2rem;
    color: gray;
}
.image-default-obi:hover,.image-default-obi.border:hover  {
    border-color: #7bc8ff;
    color: #7bc8ff;
    cursor: pointer;
}
.image-default-obi:hover i ,.image-default-obi:hover span{ 
    color: #7bc8ff; 
}
.image-default-obi img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
}
.image-default-obi:hover img {
    filter: blur(1px);
}
.image-default-obi .action {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
.image-default-obi:hover .action {
    display: block;
}
.image-default-obi .action .btn i {
    font-size: 1rem;
}

@media (max-width: 400px) {
    .modal .modal-dialog .modal-content .modal-footer { 
        flex-direction: row;
    } 
    
    .table td img, .jsgrid .jsgrid-table td img {
        width: 50px;
        height: 50px; 
        object-fit: contain;
    } 
    
    .text-detail-1 { 
        width:150px;
    }
} 
.btn i{
    font-size:0.75rem;
}
.modal-footer{
    flex-wrap: wrap;
    flex-direction: row !important;
    column-gap: 8px;
} 
.modal{ 
    font-size: 0.75rem;
    color: #7d7d7d;
} 

.modal .modal-dialog .modal-content .modal-footer > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.25rem;
} 

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #6C9BCF;
    color: white;
}
.select2-container--default .select2-results__option--selected {
    background-color: #ddd;
}
.list-group-item.active {
    z-index: 2;
    color: white;
    background-color:   #002247;
    border-color: #002247;
}

.label-border-right {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    line-height: 0.1em; 
}
.label-border-right .label-dialog {
    background: #fff;
    padding: 0 10px;
    color: #002247;
    font-size: 0.75rem;
    font-weight: bold;
}
span.label-dialog {
    background: #002247;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
}  
.sidebar .nav.sub-menu {
    background: #f5faff;
} 
.sidebar .nav.sub-menu .nav-item .nav-link {
    color: #4d4d4d; 
}


.sidebar .nav.sub-menu .nav-item::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    margin-top: 0;
    border-radius: 0%; 
}

.sidebar .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding: 0.25rem 0 0 0; 
    padding-bottom: 12px;
}

.sidebar .nav.sub-menu .nav-item {
    border-radius:8px;
}

.sidebar .nav.sub-menu .nav-item:hover {
    background: #002247c4;
    color: #fff; 
} 
.sidebar  .hover-open .nav.sub-menu .nav-item {
    border-radius:0;
}
.sidebar  .hover-open .nav.sub-menu .nav-item {
    border-radius:0;
}
/* .sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #0d6efd !important;
}
.sidebar .nav.sub-menu .nav-item .nav-link:hover i{
    color: #0d6efd  !important;
}  */
/* .sidebar .nav.sub-menu .nav-item:hover > .nav-link i,
.sidebar .nav.sub-menu .nav-item:hover > .nav-link .menu-title,
.sidebar .nav.sub-menu .nav-item:hover > .nav-link .menu-arrow { 
    color: #0d6efd  !important;
} */
.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link[aria-expanded="true"] { 
    background: #305176;
}
.sidebar .nav.sub-menu .nav-item {
    margin: 0.25rem;
}
.sidebar-icon-only .sidebar .nav.sub-menu {
    padding: 0rem;
} 
.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
    background: #002247;
} 
.sidebar-icon-only .sidebar .nav.sub-menu .nav-item span {
    color: #4d4d4d;
    background: #f5faff !important;
    width: auto;
    box-shadow: none;
}
.sidebar-icon-only .sidebar .nav.sub-menu .nav-item i {
    width: 0 !important;
    display: none;
}
.sidebar-icon-only .sidebar .nav.sub-menu .nav-item span {
    border-radius: 0;
    left: 0px !important;
    box-shadow: none !important;
    background:none !important
} 
.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link{
    border-radius:none;
    height: 2rem;  
} 
.navbar-toggler:focus{
    box-shadow:none;
}
/* .sidebar-icon-only .sidebar .nav.sub-menu .nav-link:hover{  
    background:red !important
} */
.card{
    border:none;
}
.sidebar .nav .nav-item .nav-link i.fa-solid {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: auto;
    margin-right: 0; 
}
.sidebar .nav .nav-item .nav-link i.fa-solid:before { 
    display: block;
    font-size: 0.687rem;
    line-height: 10px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
.sidebar .nav .nav-item .nav-link[aria-expanded="true"] i.fa-solid:before {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sidebar-icon-only .sidebar .nav .nav-item .nav-link i.fa-solid:before { 
    display: none; 
}
.upload-file {
    border: 1px dashed #ced4da;
    height: 5rem;
    border-radius: 0.5rem;
}


.btn-action{
    font-size:0.75rem !important;
    /* border: 1px solid #ebebeb !important; */
}
/* .btn-action span{
    width: 0;
    overflow: hidden;
    transition: width 0.3s,opacity 0.5s;
    display: inline-block;
    height: 15px; 
}
.btn-action:hover span{ 
    animation: expand 0.3s forwards;
}
@keyframes expand {
    0% { width: 0; opacity: 0; }
    100% { width: 70px;opacity: 1; }
} */
.btn-action.btn-primary{ 
    background: #f5f6f7;
    border: none;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem !important;
}
.btn-action.btn-primary i{  
    color: #1574db !important;
}

.btn-action.btn-primary:hover{ 
    background: #e6e8f1;
    color: black;
} 

.btn-action.btn-danger{ 
    background: #f5f6f7;
    border: none;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem !important;
}
.btn-action.btn-danger i{  
    color: red  !important;
}

.btn-action.btn-danger:hover{ 
    background: #e6e8f1;
    color: black;
} 

.btn-action.btn-success{ 
    background: #f5f6f7;
    border: none;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem !important;
}
.btn-action.btn-success i{  
    color: green  !important;
}

.btn-action.btn-success:hover{ 
    background: #e6e8f1;
    color: black;
} 

.btn-action.btn-warning{ 
    background: #f5f6f7;
    border: none;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem !important;
}
.btn-action.btn-warning i{  
    color: orange  !important;
}

.btn-action.btn-warning:hover{ 
    background: #e6e8f1;
    color: black;
} 
.custom-input {
    background: white;
    border: 1px solid;
    width: 100%;
    border-radius: 0.25rem;
    color: #003571;
    font-weight: bold;
} 
.custom-input:disabled {
    background: none;
    border: none;
}
.modal-backdrop{
    --bs-backdrop-opacity: 0.25;
}
.modal-content {
    border: none;
    box-shadow: 0 0 24px 2px #a1a1a1;
}

table.dataTable.table.table-hover>tbody>tr:hover>* {
    box-shadow: inset 0 0 0 9999px rgb(80 158 255 / 8%);
}
.dropdown-item i{
    color: #1574db; 
}
.dropdown-item i.fa-pencil{
    color: #1574db; 
}
.dropdown-item i.fa-key{
    color: orange; 
}
.dropdown-item i.fa-trash{
    color: red; 
}
.dropdown-item i.fa-close{
    color: red; 
}

.simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: left;
}

.simple-pagination li {
    display: inline-block;
    margin-right: 5px;

}

.simple-pagination li a,
.simple-pagination li span {
    color: #666;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #FFF;
    border-radius: 5px;
    margin-bottom: 5px;
}

.simple-pagination .current {
    color: #0B1460;
    background-color: #fff;
    border: 1px;
    border-style: solid;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: #fff;
}
.fs-7{
    font-size:0.6rem !important;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    /* height: 63px !important; */
    height: 45px !important;
}
.image-upload{
    border: 1px solid grey;
    width:200px;
    height:200px;
    border-radius:50%;
}

.pagination .page-item.active .page-link {
    color: white;
    background: #305176;
    border: 1px solid #0022476b;
}
.dt-info , .dt-paging{
    padding-top:2rem;
} 

.form-control:focus{
    border: solid #bfbfbf 1px !important;
    outline: 0 !important;
    box-shadow: none;
} 

.card.project {
    border: 1px solid #e3e3e3;
    box-shadow: 1px 1px 3px 0px #d7d7d7;
    margin-bottom: 10px;
} 
.card.project .content-data{ 
    background: #F5F7FF;
} 
.header.notif.selected {
    background: #002247 !important;
    color: white !important;
    outline: 1px solid #000;
    border-radius: 0.25rem;
}
/* .card.project.show .content-data{
    display: flex ; 
    opacity: 1;  
    min-height: 400px;
    height:auto;
    transition: min-height 0.25s ease-in, opacity 0.5s;
} */
.card.project .header .logo {
    width: 30px;
    height: 30px;
    object-fit: cover; 
} 
.card.project .header .badge {
    font-size: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.3rem;

}
.divider-horizontal {
    position: relative;
    display: block;
    padding: 0 5px;
    height: 1.5rem;
}
.divider-horizontal::after {
    content: "";
    position: absolute;
    height: 100%;
    background: #c1c1c1;
    width: 1px;
    left: 5px;
    top: 0;
}
.divider-vertical{
    position: relative;
    display: block;
    padding: 0 5px;
}
.divider-vertical::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #c1c1c1;
    height: 1px; 
    top: 0;
}
.card.project .header  i {
    font-size:0.65rem;
    color: #bbbbbb;
}
.swal2-styled.swal2-confirm{
    background-color: #4292eb;
    border-color: #709ac9;
}
table,td,tr,th{
    color:#305176 !important;
    font-weight: 500;
}
table.dataTable tbody td.no-padding {
    padding: 0;
    padding-bottom: 1rem;
}
table.dataTable tbody td.no-padding:hover > * {
    box-shadow:none;
}
div.varian-detail {
    display: none;
}
div.project-detail {
    display: none; 
} 

#list-produk .image-default-obi:first-child .badge{
    display: block;
    position: absolute;
    left: -7px;
    top: -7px;
}

#list-produk .image-default-obi:not(:first-child) .badge{
    display: none;
}
.image-default-obi.dragover {
  border-color: #007bff;
  background-color: #e7f0ff;
  transform: scale(1.1);
  box-shadow: 10px 10px 20px rgba(0, 123, 255, 0.3);
}
span.label-head-dialog {
    font-size: 0.75rem;
    font-weight: bold;
    color: #17293f;
}
.font-std{
    font-size: 0.7rem !important;
}
.detail{  
    opacity: 1; 
} 
.detail.hide{  
    display: none;
    opacity: 0;
    transition: opacity .3s ease,  display .3s ease allow-discrete; /* <-- check this line */
}   
.fa-solid{
    transition: transform 0.5s ease 0s;
} 

img.image-produk {
    width: 35px;
    height: 35px;
    object-fit: contain;
} 
img.image-produk-doc {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius:10px;
} 
.ql-editor ol {
    padding-left: 0rem;
}

/* .list-project:hover {
    background: #f0f6fd;
    transition: all 0.3s;
} */
.list-project {
    background: #fbfbfb;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.75rem;
    box-shadow: -2px 2px 1px 0 #7f7f7f0d;
    transition: all 0.3s;
    border: 1px solid #e9e9e9;
    position: relative;
    z-index: 1;
}
.list-project::before{
    position: absolute;
    width: 8px;
    height: 30px;
    content: "";
    left: -3px;
    top: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #007bff;
    box-shadow: 3px 0px 2px 0 #5397e1;
}
.produk {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.side-menu {
    position: relative;
    width: 12rem;
    min-width: 12rem;
    font-size: 0.85rem;
}
.side-menu.hide {
    width: 3.5rem;
    min-width: 3.5rem;
    transition: all 1s;
}
.btn-side-menu {
    border: 1px solid #d9dadb;
    color: #002247;
    background: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 8px;
    right: -15px;
    padding: 0.5rem;
} 
.btn-side-menu:hover {
    background: #f0f6fd;
}
.side-menu.hide .menu-text {
    display: inline;
    transition: all 3s;
}
.side-menu.hide .menu-text {
    display: none;
    transition: all 3s;
}
.side-menu .menu-total {
    position: absolute;
    right: 5px;
    top: 8px;
    font-size: 0.5rem;
    background: #004591;
    border-radius: 50%;
    height: 18px;
    outline: 1px solid white;
    width: 18px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
}
.side-menu.hide .menu-total {
    display: none;
    transition: all 3s
}
.side-menu.hide .menu-item:hover .menu-text {
    display: inline-block;
    position: absolute;
    background: #f5f5f5;
    padding: 0.25rem;
    padding-right: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    top: 0;
    left: 2rem;
    height: 100%;
    z-index: 2;
    width: 8rem;
    box-shadow: 2px 3px 2px 0px #ededed;
}
.ql-editor{
    padding: 0.5rem !important;
} 
.list-payment {
    position: relative;
    background: #fbfbfb;
    padding: 1rem;
    margin: 0.25rem; 
    border-radius: 0.25rem;
    box-shadow: -2px 2px 1px 0 #7f7f7f0d;
    transition: all 0.3s;
    border: 1px solid #e9e9e9;
}
.list-payment .line-1{
    content: "";
    background: #bbbbbb8f;
    height: 4rem;
    width: 5px;
    position: absolute;
    top: 1rem;
    left: -15px;
    z-index: 0;
    transform: translateY(-100%);
}
.list-payment .line-o{
    content: "";
    background: #4292eb;
    height: 1rem;
    width: 1rem;
    position: absolute; 
    top: 1rem;
    left: -21px;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: 0 0 4px 0px #95c2f4;
}
.list-delivery {
    position: relative;
    background: #fbfbfb;
    padding: 1rem;
    margin: 0.5rem; 
    border-radius: 0.25rem;
    box-shadow: -2px 2px 1px 0 #7f7f7f0d;
    transition: all 0.3s;
    border: 1px solid #e9e9e9;
}
.list-delivery .line-1{
    content: "";
    background: #bbbbbb8f;
    height: 4rem;
    width: 5px;
    position: absolute;
    top: 1rem;
    left: -15px;
    z-index: 0;
    transform: translateY(-100%);
}
.list-delivery .line-o{
    content: "";
    background: #4292eb;
    height: 1rem;
    width: 1rem;
    position: absolute; 
    top: 1rem;
    left: -21px;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: 0 0 4px 0px #95c2f4;
}
.tab-content{
    background: #F5F7FF; 
    height: 100%;
    border:none;    
    padding: 0.25rem; 
}
.ql-editor p,.ql-editor span,.ql-editor li{
   font-size: 0.7rem !important ;
}
@media (max-width: 400px) {
    
    .list-payment .line-1{ 
        height: 12rem;  
    }
    .list-delivery .line-1{ 
        height: 12rem;  
    }
}
.accordion-button:focus{
    box-shadow:none;
}

/* Animasi modal */
.modal {
transition: opacity 0.3s ease-in-out;
}

.modal.show {
opacity: 1;
}

.modal.fade {
opacity: 0;
}

.modal.fade.show {
opacity: 1;
}

/* Animasi modal content */
.modal-content {
transition: transform 0.3s ease-in-out;
}

.modal-content.show {
transform: translate(0, 0);
}

.modal-content.fade {
transform: translate(0, -50px);
}

.modal-content.fade.show {
transform: translate(0, 0);
}
.list-project.show {
    transform: scale(1.01);
    box-shadow: 0px -1px 8px 0px #438ab3;
    transition: transform 1s;
}
.line-dot {
    width: 3rem;
    border: dashed 1px;
    height: 1px;
    position: relative;
}

.group-header:hover {
    background: #c4ceff69;
    border-radius: 0.5rem;
}
.group-header i {
    transform: rotate(180deg);
    font-size: 0.75rem;
}
.group-header.project-hide i {
    transform: rotate(0);
} 
a{
    cursor: pointer;
}
.form-check-input{ 
    border: 1px solid #babcbd;
}
.form-check-input:checked {
    background-color: #001935;
    border-color: #225fba;
}
.input-group-custom{
    position : relative;
    /* width: 15rem !important; */
}
.input-group-custom > i {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translatey(-50%);
    z-index: 10;
    font-size: 0.75rem;
    color: #6b6b6b;
}
.input-group-custom > input{
    padding-left: 2rem;
    border-radius:0.5rem !important;
}
.input-group-custom.active input{
    border: 1px solid #002247 !important;
} 
.input-group-custom > i.fa-caret-down {
    left: 92%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}
.input-group-custom.active > i.fa-caret-down { 
    transform: translate(-50%, -50%) rotate(180deg); 
}
.input-group-custom .filter-data {
    position: absolute;
    z-index: 30;
    top: 100%;
    width: 100%;
    padding: 5px 0; 
    display: none;
}

.input-group-custom .filter-data .list-group{
    max-height:15rem;
    overflow-y: auto;
    box-shadow: 0 0 5px 0 #00224745;
}
.input-group-custom .filter-list {
    display: none;
    position: absolute;
    left: 100%;
    top: 100%;
    z-index: 1000;
    margin: 5px 0px;
    width: 15rem;
    box-shadow: 0 0 5px 0 #00224745;
} 
.input-group-custom .filter-list ul {
    overflow-y:auto;
    max-height:10rem;
}

.input-group-custom.active .filter-data {
    display: block;
}
.hr {
    border-top: white 2.5px solid;
    border-bottom: white 2.5px solid;
}
@media (max-width: 400px) {
    
    .input-group-custom .filter-data { 
        width: 7rem; 
        display: none;
    }
    .input-group-custom .filter-list {
        margin: 5px 5px;
        left: 7rem; 
        width: 10rem;
    }
    .input-group-custom .filter-data.left { 
        left: -100%;
        width: 200% !important;
    }
    img.image-produk{
        height:100px;
        width:100px;
    } 
    img.image-produk-doc{
        height:75px;
        width:75px;
    } 
}


.search-data > .input-group{
    position : relative;
    width: 15rem !important;
}
.search-data > .input-group > i {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translatey(-50%);
    z-index: 10;
    font-size: 0.75rem;
    color: #6b6b6b;
}
.search-data > .input-group > input{
    padding-left: 2rem;
    border-radius:0.5rem !important;
}

.search-data .input-group.active input{
    border: 1px solid #002247 !important;
}
.search-data > .input-group > i.fa-caret-down {
    left: 92%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}
.search-data > .input-group.active > i.fa-caret-down { 
    transform: translate(-50%, -50%) rotate(180deg); 
}
.input-group .filter-data {
    position: absolute;
    z-index: 12;
    top: 100%;
    width: 100%;
    padding: 5px 0; 
    display: none;
}
.input-group .filter-data .list-group{
    box-shadow: 0 0 5px 0 #00224745;
}
.input-group .filter-list {
    display: none;
    position: absolute;
    left: 100%;
    top: 100%;
    z-index: 1000;
    margin: 5px 10px;
    width: 15rem;
    box-shadow: 0 0 5px 0 #00224745;
} 
.input-group .filter-list ul {
    overflow-y:auto;
    max-height:10rem;
}

.input-group.active .filter-data {
    display: block;
}

i.notif {
    padding: 0.5rem;
    font-size: 0.85rem !important;
}
i.notif.active {
    color: #002247 !important; 
}
i.header.notif.active { 
    background: #b2c5ff;
    border-radius: 0.25rem;
}
i.notif:hover {
    background: #d9e0ff;
    color: #305176 !important;
    border-radius: 0.5rem;
}
i.notif .icon-notif {
    display: none;
    padding: 5px !important;
    font-size: 0.5rem;
    font-weight: bold;
    color: white;
}
i.notif.active .icon-notif {
    display: block;
}
.custom-tooltip {
    --bs-tooltip-bg: #002247;
    --bs-tooltip-color: white;
    --bs-tooltip-font-size: 0.75rem;
    --bs-tooltip-max-width: 25rem;
}
.fs-8{
    font-size:0.25rem !important;
} 
.modal .modal-dialog {
    margin-top: 1.5rem;
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
    --bs-offcanvas-height: auto;
}
.project-store .logo {
    width: 2rem;
    height: 2rem;
    object-fit: contain !important;
    margin-right:0;
}
/* .custom-overflow::-webkit-scrollbar {
    height: 10px;
    background-color: #f5f7ff;
    position: absolute;
    top: 0;
}

.custom-overflow::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}

.custom-overflow::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
} */

.custom-overflow::-webkit-scrollbar {
    background-color: #f5f7ff;
    height: 5px;
}
.custom-overflow::-webkit-scrollbar-thumb {
    background:#6c757d;
    border-radius:5px;
} 

.icon-project {
    display: flex ;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
    font-weight: normal;
    font-family: inherit;
    width: max-content;
    flex-wrap: nowrap;
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    position: relative;
    background: #f5f5f5;
    color: #7b7b7b  !important; 
    cursor: pointer;
}
.icon-project i {
    color: #7b7b7b  !important;
    font-weight: bold;
}
.icon-project::after {
    content: "";
    position: absolute;
    height: calc(1rem + 2px);
    width: calc(1rem + 2px);
    right: calc(-0.5rem - 2px);
    transform: rotate(45deg);
    background: #f5f5f5;
    z-index: 1;
    border-style: solid;
    border-color: #ebebeb #ebebeb transparent transparent;
}
.icon-project span{
    z-index: 10;
} 


.icon-project.notif, .icon-project.notif::after{
    background: #cce0ff !important; 
    color: #305176 !important; 
    font-weight: bold;
}
.icon-project.notif i{ 
    color: #305176 !important; 
} 
.icon-project.notif i:after{ 
    content: "";
    height: 5px;
    width: 5px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    box-shadow: 0px 0 6px 0px #ff4040;
} 
.icon-project.active,.icon-project.active::after{
    font-weight: bold;
    background: #d1e7dd; 
    color: #003e9d !important;
} 
.icon-project.active i{ 
    color: #305176 !important; 
    font-weight: bold;
} 

.icon-project.selected,.icon-project.selected i,.icon-project.selected::after{
    font-weight: bold;
    color: #002247 !important;
    /* background: #afcbff; */
} 
.icon-project:hover,.icon-project:hover::after{
    font-weight: bold;
    color: #003e9d !important;
    background: #afcbff !important;
}  
.icon-project:hover i{ 
    color: #305176 !important; 
    font-weight: bold;
} 


.image-detail-produk {
    border: 2px dashed #dedede;
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin: 0.25rem;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image-detail-produk.border:hover,
.image-detail-produk:hover {
    border-color: #7bc8ff;
    color: #7bc8ff;
    cursor: pointer;
}
.image-detail-produk img {
    width: 75px;
    height: 75px;
    object-fit: cover;  
}
.image-detail-produk:hover img {
    filter: blur(1px);
}
.image-detail-produk .action {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}
.image-detail-produk:hover .action {
    display: block;
}
.image-detail-produk:hover .action i{
    color :#7bc8ff;
}
.span-custom-input:hover {
    border: 1px solid gray;
    border-radius: 0.25rem;
}
.drop-box {
    width: 100%;
    height: 5rem;
    border: 1px dashed gray;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
}
.drop-box:hover {
    background-color: #f0f0f0;
}
.pointer{
    cursor: pointer;
}
.pointer i { 
    padding: 0.25rem;
    border-radius: 0.25rem;
}
.pointer:hover i {
    background: #e9e9e987;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
.text-bg-primary{
    background-color: #d2d2ff !important;
    color: #527dff !important;
}
.text-bg-primary i {
    color: #527dff !important;
}
.text-bg-info {
    background-color: #ffe381 !important;
    color: #573900 !important;
}
.text-bg-info i {
    color: #573900 !important;
}
.text-bg-success {
    background-color: #cbf1e7 !important;
    color: #009f00  !important;
}
.text-bg-success i {
    color: green !important;
}
.text-bg-danger {
    background-color: #f1dede !important;
    color: #ff2b2b !important;
}
.text-bg-danger i {
    color: #ff2b2b !important;
}